/* Add padding and a horizontal bar between each entry for the sake of readability */
.mdict {
  border-top: 0.15em solid #c4c4c4;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
}
.gddictname {
  position: relative;
  z-index: 9;
  margin-bottom: -0.16em;
}
/* Remove duplicate headers in EPWING dictionaries. */
.epwing_article h3 {
  display: none;
}
.epwing_text:first-line {
  text-indent: -1em;
}
.epwing_text {
  padding-top: 0.5em;
  padding-left: 1em;
  border-top: 0.15em solid #c4c4c4;
  margin-bottom: 0.5em;
}
